@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
body{
    margin: 10px;
    display: flex;
    flex-direction: column;
    
}

header {
    display: flex;
    color: rgb(2, 1, 1);
    justify-content: center;
    background-color: rgba(6, 105, 147, 0.773);
    align-items: center;
    padding: 1%;
 
}

.titulo {
  display: flex;
  font-size: 100px;
  justify-content: center;
  font-family: "Barriecito", cursive;
  margin: 70px;
}

.que{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5%;
    background-color: rgb(237, 240, 243);
    border-color: black;
    font-size: 100px;}
    

.titulo2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
   text-align: center;
}

.escasez {
  width: 150px;
  height: 57px;
  max-height: 50px;
}

.carousel-inner img {
    width: 450px;
    max-height: 450px;
}

.carousel-inner{
    height: 500px;
}

.cambio{
    padding: 10px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.acciones{
    columns: 2;

}

.accion{
    display: flex;
    height: 400px;
}

.lista{
    font-size: 18px;
    font-family: 'Courgette', cursive;
}

.video{
    display: flex;
    justify-content: center;
}
.frases{
    background-color: gray;
}